<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yendry.internetchecker2">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:exported="false"
            android:name=".services.NetworkService"
            android:icon="@drawable/ic_wifi_black_24dp"
            android:label="nada"
            >
        </service>
        <service android:name=".services.NotificationIntentService" />
        <service android:name=".services.ForegroundIntentService" />

        <receiver android:name=".broadcast.BroadcastWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/broadcast_widget_info" />
        </receiver>

        <service android:name=".services.Worker"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".broadcast.NetworkCheckReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <service
            android:name=".broadcast.WifiJobSchedule"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>